@model Tuple<RechargeWeb.Models.ContainerData>
@using RechargeWeb.Models;
@using System.Text.RegularExpressions;
@{
    Layout = "~/Views/_ViewHomeStart.cshtml";
    var user = Session["user"] as customer;
    var container = Model.Item1;

    if (Session["cart"] == null)
    {
        Session["cart"] = new List<Cart>();
    }
}
@section Main{
    <style>
        .service_body {
            height: 210px;
            overflow-y: auto;
            padding: 20px;
        }

        .tb-buy-service {
            cursor: pointer;
            user-select: none;
        }
    </style>

    <!-- header-area start -->
    <header class="header-area header-area-bg" id="home">
        <div class="header-slider">
            <div class="single-header-slide-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 " id="container_login">
                            <h1>Recharge from anywhere in the world. Anytime.</h1>
                            <p id="sign_in">
                                Your online mobile recharge transaction is completely guaranteed and secure.Earn reward points &amp; get bonus
                                anytime, anywhere.
                            </p>
                            @if (user == null)
                            {
                                <div class="header-btn-group">
                                    <input id="ip_phone" type="number" placeholder="Enter your phone">
                                    <input id="ip_password" type="password" placeholder="Enter password">
                                    <input type="submit" value="Login" id="btn_login">
                                </div>
                            }
                            else
                            {
                                <div class="header-btn-group">
                                    <h3>Hello <strong>@user.phone_number</strong></h3>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- end header-area -->
    <!-- how it works start -->
    <section class="how-it-work how-it-work-bg" id="whow-work">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h2>How it Works?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-it-work-box">
                        <div class="icon">
                            <svg width="22px" height="30px">
                                <path fill-rule="evenodd" d="M21.998,5.451 C15.456,5.452 8.913,5.456 2.371,5.449 C2.373,3.633 2.372,1.816 2.371,-0.001 L21.999,-0.001 C21.997,1.816 22.004,3.634 21.998,5.451 ZM3.346,0.949 C3.347,2.135 3.345,3.320 3.344,4.506 C9.236,4.510 15.130,4.506 21.022,4.508 C21.026,3.322 21.022,2.135 21.025,0.948 C15.131,0.946 9.239,0.943 3.346,0.949 ZM18.008,2.249 C18.325,2.254 18.642,2.255 18.960,2.247 C18.978,2.566 18.968,2.885 18.961,3.204 C18.641,3.197 18.321,3.199 18.002,3.204 C17.988,2.886 17.984,2.567 18.008,2.249 ZM16.045,2.260 C16.369,2.248 16.693,2.257 17.017,2.252 C17.021,2.569 17.021,2.885 17.017,3.202 C16.692,3.197 16.368,3.206 16.044,3.194 C16.048,2.882 16.047,2.571 16.045,2.260 ZM14.106,2.250 C14.427,2.257 14.749,2.252 15.070,2.255 C15.072,2.567 15.068,2.880 15.074,3.192 C14.749,3.207 14.423,3.197 14.098,3.200 C14.100,2.883 14.090,2.567 14.106,2.250 ZM12.153,3.204 C12.146,2.886 12.145,2.567 12.154,2.250 C12.473,2.257 12.792,2.255 13.110,2.248 C13.135,2.566 13.130,2.885 13.110,3.204 C12.791,3.199 12.472,3.200 12.153,3.204 ZM6.250,7.451 C6.133,6.681 6.719,5.899 7.505,5.760 C8.357,5.570 9.279,6.194 9.379,7.038 C9.535,7.871 8.846,8.727 7.980,8.789 C7.150,8.897 6.332,8.256 6.250,7.451 ZM8.407,7.383 C8.525,6.945 8.010,6.531 7.586,6.720 C7.188,6.866 7.083,7.432 7.413,7.696 C7.728,8.004 8.340,7.813 8.407,7.383 ZM11.808,5.773 C12.694,5.535 13.676,6.202 13.756,7.087 C13.876,7.893 13.218,8.699 12.389,8.787 C11.566,8.912 10.729,8.293 10.624,7.494 C10.485,6.735 11.038,5.944 11.808,5.773 ZM12.140,7.849 C12.520,7.891 12.864,7.517 12.778,7.157 C12.727,6.814 12.322,6.588 11.990,6.710 C11.811,6.769 11.664,6.912 11.609,7.088 C11.483,7.431 11.766,7.835 12.140,7.849 ZM10.627,11.309 C10.475,10.532 11.053,9.713 11.852,9.566 C12.731,9.357 13.681,10.022 13.756,10.895 C13.872,11.698 13.220,12.500 12.393,12.587 C11.574,12.713 10.736,12.105 10.627,11.309 ZM12.779,10.964 C12.730,10.617 12.317,10.386 11.982,10.514 C11.760,10.589 11.598,10.795 11.583,11.023 C11.550,11.334 11.816,11.634 12.138,11.651 C12.516,11.696 12.860,11.325 12.779,10.964 ZM12.506,16.372 C11.918,16.495 11.275,16.257 10.920,15.787 C10.553,15.330 10.506,14.665 10.787,14.157 C11.030,13.699 11.524,13.381 12.054,13.340 C12.879,13.251 13.686,13.901 13.756,14.701 C13.863,15.463 13.280,16.229 12.506,16.372 ZM11.934,14.335 C11.523,14.502 11.459,15.115 11.838,15.349 C12.185,15.609 12.753,15.364 12.784,14.938 C12.859,14.504 12.340,14.135 11.934,14.335 ZM16.150,13.386 C16.936,13.164 17.835,13.646 18.060,14.410 C18.318,15.143 17.893,16.014 17.149,16.290 C16.555,16.533 15.814,16.373 15.386,15.904 C14.944,15.446 14.844,14.717 15.150,14.164 C15.352,13.783 15.724,13.495 16.150,13.386 ZM16.162,15.314 C16.496,15.618 17.119,15.394 17.149,14.945 C17.227,14.523 16.736,14.149 16.331,14.323 C15.919,14.463 15.816,15.054 16.162,15.314 ZM16.668,8.793 C15.855,8.872 15.061,8.235 14.984,7.446 C14.874,6.705 15.415,5.952 16.160,5.777 C17.050,5.527 18.044,6.196 18.122,7.088 C18.249,7.923 17.536,8.759 16.668,8.793 ZM16.339,6.715 C15.925,6.850 15.812,7.436 16.153,7.702 C16.471,8.003 17.070,7.813 17.143,7.389 C17.264,6.956 16.764,6.539 16.339,6.715 ZM16.742,12.590 C15.928,12.705 15.104,12.098 14.990,11.309 C14.847,10.553 15.390,9.762 16.155,9.581 C17.024,9.333 18.002,9.964 18.115,10.833 C18.271,11.659 17.601,12.510 16.742,12.590 ZM16.332,10.520 C15.901,10.666 15.815,11.291 16.194,11.538 C16.538,11.811 17.118,11.570 17.152,11.140 C17.228,10.718 16.735,10.345 16.332,10.520 ZM5.872,23.438 C5.879,19.355 5.872,15.273 5.875,11.191 C5.878,10.932 5.904,10.670 5.997,10.426 C6.245,9.742 6.933,9.232 7.680,9.191 C8.406,9.130 9.140,9.517 9.498,10.130 C9.693,10.448 9.766,10.821 9.762,11.188 C9.757,13.258 9.766,15.327 9.759,17.396 C10.126,17.232 10.532,17.119 10.940,17.176 C11.420,17.215 11.849,17.465 12.188,17.785 C12.611,17.359 13.223,17.104 13.837,17.173 C14.324,17.207 14.757,17.463 15.098,17.787 C15.507,17.379 16.084,17.119 16.677,17.168 C18.234,17.277 18.524,18.863 18.495,18.871 C18.497,22.580 18.498,26.290 18.495,29.999 L17.521,29.999 C17.519,26.367 17.524,22.734 17.519,19.101 C17.537,18.723 17.315,18.345 16.954,18.191 C16.545,17.998 16.015,18.142 15.761,18.507 C15.593,18.713 15.606,18.986 15.535,19.227 C15.432,19.510 15.022,19.604 14.792,19.409 C14.580,19.256 14.629,18.973 14.554,18.755 C14.422,18.298 13.888,18.014 13.417,18.133 C13.134,18.196 12.890,18.395 12.766,18.649 C12.673,18.840 12.690,19.061 12.612,19.257 C12.494,19.519 12.106,19.598 11.884,19.414 C11.703,19.290 11.711,19.058 11.669,18.870 C11.612,18.443 11.193,18.109 10.756,18.106 C10.301,18.085 9.851,18.426 9.789,18.869 C9.746,19.045 9.754,19.257 9.602,19.386 C9.420,19.563 9.090,19.550 8.921,19.363 C8.790,19.232 8.785,19.039 8.784,18.869 C8.786,16.271 8.787,13.674 8.784,11.078 C8.794,10.707 8.554,10.351 8.205,10.206 C7.829,10.043 7.353,10.146 7.087,10.452 C6.913,10.634 6.848,10.886 6.850,11.129 C6.851,15.522 6.850,19.914 6.850,24.307 C6.853,24.526 6.696,24.741 6.469,24.784 C6.268,24.841 6.085,24.719 5.931,24.611 C4.770,23.781 3.323,23.339 1.882,23.360 C1.378,23.372 0.945,23.830 0.978,24.320 C0.976,24.813 1.433,25.239 1.938,25.234 C2.851,25.245 3.765,25.485 4.538,25.962 C5.953,26.808 6.857,28.386 6.850,29.999 L5.877,29.999 C5.871,29.140 5.568,28.285 5.009,27.616 C4.414,26.897 3.545,26.388 2.605,26.238 C2.247,26.171 1.878,26.200 1.520,26.129 C0.831,25.986 0.245,25.449 0.070,24.784 C-0.166,23.986 0.225,23.070 0.972,22.666 C1.460,22.375 2.057,22.391 2.607,22.438 C3.755,22.525 4.876,22.880 5.872,23.438 Z" />
                            </svg>
                        </div>
                        <a href="#"><h4>Enter Phone Number</h4></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-it-work-box">
                        <div class="icon">
                            <svg width="30px" height="25px">
                                <path fill-rule="evenodd" d="M28.926,21.103 C27.677,23.295 25.333,24.737 22.853,24.996 L21.481,24.996 C18.807,24.715 16.302,23.038 15.145,20.573 C13.450,17.249 14.556,12.817 17.604,10.696 C20.563,8.477 25.047,8.802 27.637,11.455 C30.194,13.876 30.754,18.085 28.926,21.103 ZM26.077,15.787 C25.216,15.795 24.355,15.790 23.494,15.800 C23.469,14.919 23.465,14.041 23.482,13.162 C22.611,13.162 21.740,13.159 20.869,13.164 C20.869,14.036 20.867,14.907 20.874,15.777 C20.006,15.805 19.135,15.787 18.267,15.795 C18.262,16.668 18.262,17.542 18.267,18.418 C19.137,18.425 20.011,18.393 20.881,18.450 C20.862,19.313 20.872,20.176 20.867,21.039 C21.738,21.039 22.611,21.053 23.484,21.051 C23.486,20.171 23.455,19.291 23.489,18.411 C24.352,18.420 25.213,18.418 26.077,18.428 C26.109,17.547 26.084,16.668 26.077,15.787 ZM10.422,7.892 C10.439,7.020 10.439,6.147 10.439,5.274 C13.047,5.257 15.657,5.284 18.264,5.265 C18.264,6.143 18.264,7.022 18.262,7.902 C15.649,7.900 13.034,7.917 10.422,7.892 ZM-0.000,7.902 L-0.000,5.272 C2.612,5.257 5.224,5.284 7.837,5.262 C7.827,6.145 7.827,7.025 7.820,7.907 C5.212,7.902 2.607,7.902 -0.000,7.902 ZM-0.000,0.016 C2.607,0.003 5.215,0.028 7.822,0.006 C7.834,0.883 7.829,1.758 7.824,2.636 C5.215,2.651 2.607,2.634 -0.000,2.639 L-0.000,0.016 ZM7.824,13.162 C5.217,13.172 2.607,13.159 -0.000,13.162 L-0.000,10.531 C2.607,10.523 5.215,10.538 7.822,10.526 C7.829,11.403 7.827,12.281 7.824,13.162 ZM7.824,18.416 C5.217,18.428 2.607,18.418 -0.000,18.418 L-0.000,15.795 C2.607,15.783 5.217,15.802 7.824,15.787 C7.827,16.663 7.827,17.540 7.824,18.416 ZM7.822,23.684 C5.215,23.682 2.607,23.682 -0.000,23.682 L-0.000,21.051 C2.607,21.044 5.217,21.051 7.824,21.049 C7.827,21.926 7.829,22.804 7.822,23.684 ZM15.791,10.528 C15.035,11.300 14.412,12.190 13.930,13.159 C12.763,13.164 11.599,13.162 10.432,13.162 C10.430,12.288 10.442,11.416 10.434,10.546 C12.220,10.506 14.006,10.543 15.791,10.528 ZM10.439,18.416 C10.425,17.542 10.434,16.670 10.442,15.797 C11.344,15.790 12.247,15.777 13.150,15.797 C13.042,16.660 13.032,17.533 13.154,18.396 C12.249,18.440 11.344,18.413 10.439,18.416 ZM13.930,21.053 C14.402,22.022 15.048,22.891 15.772,23.682 C13.993,23.672 12.213,23.704 10.434,23.665 C10.432,22.795 10.430,21.924 10.442,21.053 C11.604,21.031 12.768,21.051 13.930,21.053 Z" />
                            </svg>
                        </div>
                        <a href="#"><h4>Recharge Your Amount</h4></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-it-work-box">
                        <div class="icon">
                            <svg width="30px" height="30px">
                                <path fill-rule="evenodd" d="M29.203,14.146 L14.601,28.749 L21.249,28.749 C21.594,28.749 21.874,29.029 21.874,29.375 C21.874,29.720 21.594,29.999 21.249,29.999 L12.223,29.999 C12.222,29.999 12.221,29.999 12.220,29.999 C12.219,29.999 12.219,29.999 12.218,29.999 L8.750,29.999 C8.405,29.999 8.125,29.720 8.125,29.375 C8.125,29.029 8.405,28.749 8.750,28.749 L9.840,28.749 L1.967,20.877 C1.967,20.876 1.967,20.876 1.967,20.876 C1.967,20.876 1.967,20.876 1.966,20.876 L0.795,19.704 C0.282,19.191 -0.000,18.508 -0.000,17.779 C-0.000,17.049 0.282,16.365 0.795,15.853 L15.852,0.794 C16.365,0.282 17.049,-0.001 17.778,-0.001 C18.507,-0.001 19.191,0.282 19.704,0.795 L29.203,10.295 C30.265,11.356 30.265,13.085 29.203,14.146 ZM28.319,11.178 L23.085,5.944 L8.624,20.405 C8.502,20.527 8.342,20.588 8.182,20.588 C8.022,20.588 7.862,20.527 7.740,20.405 C7.496,20.161 7.496,19.765 7.740,19.522 L22.201,5.060 L18.820,1.678 C18.543,1.402 18.173,1.249 17.778,1.249 C17.383,1.249 17.013,1.402 16.736,1.678 L1.679,16.737 C1.402,17.013 1.250,17.383 1.250,17.779 C1.250,18.174 1.402,18.543 1.679,18.820 L2.409,19.550 L16.869,5.089 C17.113,4.845 17.509,4.845 17.753,5.089 C17.997,5.333 17.997,5.729 17.753,5.973 L3.293,20.434 L11.178,28.320 C11.455,28.597 11.823,28.748 12.218,28.749 L12.222,28.749 C12.617,28.749 12.986,28.597 13.262,28.320 L28.319,13.262 C28.894,12.688 28.894,11.753 28.319,11.178 ZM22.968,14.900 C22.846,15.022 22.686,15.083 22.526,15.083 C22.366,15.083 22.206,15.022 22.084,14.900 L20.316,13.132 C20.199,13.015 20.133,12.856 20.133,12.690 C20.133,12.524 20.199,12.366 20.316,12.248 L22.968,9.596 C23.085,9.479 23.244,9.413 23.410,9.413 C23.576,9.413 23.734,9.479 23.852,9.596 L25.619,11.364 C25.863,11.608 25.863,12.004 25.619,12.248 L22.968,14.900 ZM23.410,10.922 L21.642,12.690 L22.526,13.574 L24.294,11.806 L23.410,10.922 ZM15.856,22.012 C15.734,22.134 15.574,22.195 15.414,22.195 C15.254,22.195 15.094,22.134 14.972,22.012 C14.728,21.768 14.728,21.372 14.972,21.128 L15.237,20.863 C15.481,20.619 15.877,20.619 16.121,20.863 C16.365,21.107 16.365,21.503 16.121,21.746 L15.856,22.012 ZM10.480,23.852 C10.358,23.974 10.198,24.036 10.038,24.036 C9.878,24.036 9.719,23.974 9.596,23.852 C9.352,23.608 9.352,23.212 9.596,22.968 L14.514,18.050 C14.759,17.807 15.154,17.807 15.398,18.050 C15.642,18.294 15.642,18.690 15.398,18.934 L10.480,23.852 ZM13.381,22.719 C13.625,22.475 14.021,22.475 14.265,22.719 C14.509,22.963 14.509,23.359 14.265,23.603 L12.248,25.620 C12.126,25.742 11.966,25.803 11.806,25.803 C11.646,25.803 11.486,25.742 11.364,25.620 C11.120,25.376 11.120,24.980 11.364,24.736 L13.381,22.719 ZM6.901,22.129 C6.779,22.251 6.619,22.312 6.459,22.312 C6.299,22.312 6.139,22.251 6.017,22.129 C5.773,21.884 5.773,21.489 6.017,21.245 L6.282,20.980 C6.526,20.736 6.922,20.736 7.166,20.980 C7.410,21.224 7.410,21.619 7.166,21.863 L6.901,22.129 ZM18.593,3.365 C18.837,3.121 19.232,3.121 19.476,3.365 C19.721,3.609 19.721,4.005 19.477,4.249 L19.212,4.514 C19.090,4.636 18.930,4.697 18.770,4.697 C18.610,4.697 18.450,4.636 18.328,4.515 C18.084,4.271 18.084,3.875 18.328,3.630 L18.593,3.365 Z" />
                            </svg>
                        </div>
                        <a href="#"><h4>Complete Payment</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- how it works end -->
    <!-- choose your plan area start -->
    <section class="choose-plan choose-plan-bg" id="plan" style="padding-bottom: 56px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <h2>
                            Choose
                            <span>Your Service</span>
                        </h2>
                    </div>
                </div>
            </div>
            @helper SplitText(string text)
            {
                var arr = Regex.Split(text, @"[\.]+");
                foreach (var i in arr)
                {
                    <li>@i.ToString().</li>
                }
            }
            <div class="row">
                @foreach (var item in container.services)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-price-plan">

                            <div class="header" s-id="@item.id" style="padding-top: 39px">
                                <span class="pname" style="color: #2141ba;font-size: 17px;">@item.name</span>
                                <h2>$<span class="service_price">@String.Format("{0:0.##}", item.price)</span> </h2>
                            </div>
                            <div class="body" style="padding: 0 24px 0px; height: 240px; overflow-y: auto;">
                                @Html.Raw(item.description)
                            </div>
                            <p class="boxed-btn tb-buy-service js_clear_default" style="margin-top: 26px;margin-bottom: 26px;">Buy service</p>
                        </div>
                    </div>
                }
            </div>
            @helper GetNameMobileNetWork(ContainerData container)
            {
                foreach (var item in container.mobile_Networks)
                {
                    if (item.id == (Session["user"] as customer).id_network)
                    {
                        <a href="@Url.Action("service", "Home")" class="boxed-btn blank">See more services from @item.name</a>
                    }
                }

            }
            <div class="row">
                <div class="col">
                    <div class="reffer-section" style="padding: 104px 0 0;border-radius: 25px; width: fit-content; margin: auto">
                        <div class="single-reffer-box" id="cover-button-see-more" style="padding: 0; border-radius: 25px;">

                            @if (user == null)
                            {
                                <a href="#" class="boxed-btn blank">See more services</a>
                            }
                            else
                            {
                                @GetNameMobileNetWork(container)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        #cover-button-see-more:after {
            border-radius: 0%;
        }

        #cover-button-see-more a {
            border-radius: 0;
            padding: 16px 84px;
            font-size: 22px;
        }
    </style>
    <!-- choose your plan area end -->
    <!-- reffer section start -->
    <!-- reffer section end -->
    <!-- award wining area start -->
    <section class="award-wining-area" id="award">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <div class="section-title">
                        <h2>Award winning prepaid mobile</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/demo/assets/img/award-winning-image.jpg" alt="award winning image">
                </div>
                <div class="col-md-6">
                    <div class="right-content">
                        <h3>RecharePro Suitable For Anytype Rechage Template</h3>
                        <p>
                            Suspendisse quis massa aliquam, tincidunt velit eu, lacinia quam. Aenean eget vehicula massa. In pulvinar nisl dolor, id
                            hendrerit nisl feugiat vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                        <ul>
                            <li>
                                <i class="far fa-check-circle"></i> In pulvinar nisl dolor, id hendrerit nisl feugiat vitae.
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i> Suspendisse quis massa aliquam, tincidunt velit eu, lacinia quam.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- award wining area end -->
    <!-- faq area start -->
    <section class="faq-area-start" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>
                            Frequently Asked
                            <span>Questions</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="faq-accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#generalOne" aria-expanded="true">
                                            It is a long established fact that a reader will be distracted by the?
                                        </a>
                                    </h4>
                                </div>
                                <div id="generalOne" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage to be
                                        sure there isn't anything.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#generalTwo" aria-expanded="false">
                                            The point of using Lorem Ipsum is that it has a more-or-less normal?
                                        </a>
                                    </h4>
                                </div>
                                <div id="generalTwo" class="panel-collapse collapse " role="tabpanel">
                                    <div class="panel-body">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage to be
                                        sure there isn't anything.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#generalThree" aria-expanded="false">
                                            opposed to using 'Content here, content here', making it look?
                                        </a>
                                    </h4>
                                </div>
                                <div id="generalThree" class="panel-collapse collapse " role="tabpanel">
                                    <div class="panel-body">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage to be
                                        sure there isn't anything.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#generalfour" aria-expanded="false">
                                            Many desktop publishing packages and web page editors?
                                        </a>
                                    </h4>
                                </div>
                                <div id="generalfour" class="panel-collapse collapse " role="tabpanel">
                                    <div class="panel-body">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                        by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage to be
                                        sure there isn't anything.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/demo/assets/img/faq-image.jpg" alt="faq image">
                </div>
            </div>
        </div>
    </section>
    <!-- faq area end -->

}
@section Script{
    <script>
        $(document).ready(function (e) {

            viewCart();
        function viewCart() {
            var c =  '@((Session["cart"] as List<Cart>).Count())';;

            console.log(c);
            $("#amount_cart").text(c);

        }


        ;
        })

    </script>
}

